*
{
    margin: 0px;
    padding: 0px;
    color: white;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin;
    background-color: #1f1f1f;  
}
.container
{
    height: 1vh;
    flex-direction: column;
    display: flex;
    align-items: center;
     gap: 10vmin;
}
h1
{
    background-color: rgb(161, 161, 161);
    width: 100vw;
    height: 10vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 8vmin;
    color: black;
}
button
{
    cursor: pointer;
    height: 20vmin;
    width: 20vmin;
    border-radius: 0px 5vmin;
    font-size: 12vmin;
    margin: 3vmin;
    backdrop-filter: blur(10px);
	box-shadow: 0px 0px 15px 0px #7cf03d  ;
    background-color: #93d66f;
}
button:hover
{
    color: aliceblue;
    background-color: #350058   ;
}
.score
{
    display: flex;
    font-size: 3vmin;
    gap: 5vmin;
}
.score h2
{
    font-size: 5vmin;
    margin: 2vmin;
    padding: 0px;
    color: rgb(0, 0, 0);
}
.score h4
{
    font-size: 3vmin;
    margin: 0px;
    padding: 0px;
}
.player
{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: #f0a23d;
    border-radius: 10px;
    width: 15vmin;
    height: 10vmin;
}
.result
{
    -webkit-text-stroke: 0.7px #7cf03d;
    color:#7cf03d;
    margin-top: 10vmin;
    font-size: 7vmin;
    color: transparent;
}
.reset
{
    height: 5vmin;
    width: 20vmin;
    border-radius: 0px;
    font-size: 4vmin;
    color: #1f1f1f;

}
@media (max-width: 600px) {
body
{
    display: flex;
    row-gap: 10vmin;
}
.result
{
    font-size: 5vmin;
}
.reset
{
    height: 8vmin;
    width: 25vmin
}
};
